@charset "utf-8";

main {
  padding-top: 120px;
  overflow: hidden;
}

/* ========== 슬라이드 ========== */
.slide {
  width: 100%;
  height: 500px;
}
.slide__title {
  display: none;
}
/* Swiper 스타일 서식 */
.slide__swiper{
  width: 100%;
  height: 100%;
}
.slide__swiper img{
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}
.slide__text.inner{
  max-width: 1180px;
  color: #fff;
}
.slide__text h3{
  position: absolute;
  top: 140px;
  font-size: 40px;
  font-weight: bold;
  line-height: 160%;
}
.slide__text p{
  position: absolute;
  top: 300px;
  font-size: 24px;
  font-weight: normal;
}
.slide .swiper-control {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #fff;
  z-index: 10;
  background: rgba(0,0,0,0.5);
  padding: 10px 15px;
  border-radius: 25px;
}
.slide .material-symbols-outlined{
  font-variation-settings:
  'FILL' 1;
  cursor: pointer;
}

/* ========== 피자여행 검색 ========== */
.search__box {
  position: relative;
  margin: 0 auto;
  top: -500px;
}
.search__form {
  position: absolute;
  right: 0;
  width: 300px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.search__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 30px;
  color: white;
}
.search__content>p:first-child {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}
.search__content>p:nth-child(2) {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.search__content>p:nth-child(2) span {
  font-variation-settings:
  'FILL' 1;
  margin-right: 5px;
  margin-top: -5px;
}
.search__city-box {
  width: 220px;
  height: 40px;
  font-size: 16px;
  border: 0;
  border-bottom: 3px solid white;
  background: none;
  color: white;
  cursor: pointer;
  margin-bottom: 5px;
}
.search__city-box option {
  color: #222;
}
.search__btn {
  width: 220px;
  height: 40px;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 6px;
  background: white;
  border: none;
  cursor: pointer;
}
/* ========== 배달/포장/마이오더 ========== */
.order__section {
  display: flex;
  justify-content: space-evenly;
  height: 300px;
}
.order__icon {
  width: 200px;
  height: 200px;
  margin-top: 40px;
}
.order__icon a{
  display: block;
}
.order__icon img {
  width: 140px;
  margin: 20px 255px 0 25px;
}
.order__icon p {
  margin-top: 18px;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.03em;
}
.order__icon:hover p {
  color: #F9423A;
  font-weight: 500;
}
.line {
  width: 1px;
  height: 150px;
  background: #ccc;
  margin-top: 70px;
}
/* ========== 베스트 인기메뉴 ========== */
.best__section {
  position: relative;
  width: 100%;
  height: 524px;
  background-color: #FFFBF0;
}
.best__title {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  letter-spacing: 0.08em;
  font-weight: 500;

}
.best__menu {
  position: absolute;
  top: 50%;
  transform: translateY(-35%);
  height: auto;
  padding: 30px 0 !important;
}
.best__menu .pizza {
  width: 100%;
  max-width: 220px;
  display: block;
  margin: 0 auto;
}
.best__menu p {
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
}
.best__menu .swiper-slide:hover {
  transform: scale(1.15);
  transition: 0.3s;
}
.best__menu .swiper-slide:hover p {
  color: #F9423A;
}
.best__menu .swiper-button-next, .best__menu .swiper-button-prev{
  color: #000;
}

/* ========== 공지사항 ========== */
.notice__section {
  display: flex;
  height: 420px;
}
.notice__box {
  position: relative;
  width: 100%;
  max-width: 620px;
  height: 280px;
  margin-top: 100px;
  padding: 40px 50px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
}
.notice__box span img {
  position: absolute;
  top: 40px;
  right: 50px;
  width: 28px;
}
.notice__title {
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.08em;
  padding-bottom: 30px;
}
.notice__box li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 8px 0;
  gap: 10px;
}
.notice__box li a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;       /* 최대 2줄까지 표시 */
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.notice__box li a:hover {
  text-decoration: underline;
}
.notice__box li span {
  font-size: 14px;
  opacity: 0.5;
  flex-shrink: 0; /* 날짜는 줄어들지 않도록 */
}
/* ========== 제휴 배너 ========== */
.banner__01 {
  position: relative;
  width: 620px;
  height: 280px;
  margin-top: 100px;
  margin-left: 40px;
  border-radius: 30px;
  overflow: hidden;
}
.banner__01 img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ========== 이벤트 ========== */
.event__section {
  position: relative;
  height: 530px;
}
.event__head {
  display: inline-block;
  padding: 60px 0 20px 20px;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.08em;
}
.event__section>a {
  position: absolute;
  top: 70px;
  right: 50px;
  opacity: 0.5;
  font-size: 20px;
}
.event__box {
  display: flex;
  justify-content: space-between;
}
.event__box-item {
  width: 18%;
  cursor: pointer;
}
.event__box-item:hover .event__box-content {
  background-color: #F9423A;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.2);
  top: -5px;
  transition: 0.5s ease;
}
.event__box-item:hover p {
  color: #fff !important;
  transition: 0.5s ease;
}
.event__box-content {
  position: relative;
  top: 0;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 21px rgba(0, 0, 0, 0.07);
}
.event__box-content div {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
}
.event__box-content img {
  height: 222px;
  border-radius: 20px;
}
.event__on {
  font-size: 12px;
  color: #F9423A;
  padding: 15px 20px 10px;
}
.event__off {
  font-size: 12px;
  color: #888;
  padding: 15px 20px 10px;
}
.event__title {
  font-size: 16px;
  font-weight: 500;
  padding: 0 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;         /* 보여줄 줄 수 */
  -webkit-box-orient: vertical;
}
.event__period {
  font-size: 13px;
  opacity: 0.4;
  padding: 10px 20px 30px;
}
